<!--<div style='padding-top: 3px; padding-left: 3px; padding-right: 3px;'>-->
<div>

	<div class="d3-full-width mdl-card mdl-shadow--2dp">
		<div class="mdl-card__title">
			<h2 class="mdl-card__title-text">{{User.name}}</h2>
		</div>
		<div class="mdl-card__supporting-text">
			{{User.title}}
		</div>

	</div>

	<div class='d3-p5'>
		<button ng-click='startOrder()' class="d3-full-width mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Заказ</button>
	</div>
	<div class='d3-p5'>
		<button ng-click='startPayment()' class="d3-full-width mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Оплата</button>
	</div>

</div>

