<!--<div style='padding-top: 3px; padding-left: 3px; padding-right: 3px;'>-->
<div>

	<div class="d3-full-width mdl-card mdl-shadow--2dp">
		<div class="mdl-card__title">
			<h2 class="mdl-card__title-text">{{User.name}}</h2>
		</div>
		<div class="mdl-card__supporting-text">
			{{User.title}}
		</div>

	</div>

	<div class='d3-p5'>
		<button ng-click='startOrder()' class="d3-full-width mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Заказ</button>
	</div>
	<div class='d3-p5'>
		<button ng-click='startPayment()' class="d3-full-width mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Оплата</button>
	</div>

</div>


<!--
	<table ng-show='User.rotatingTare' class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
		<thead>
			<tr>
				<th>Возвр.</th>
				<th>Долг</th>
				<th class="mdl-data-table__cell--non-numeric">Тара</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="tareLine in Order.rotatingTare track by $index">
				<td>
					<div style="width:50px; padding: 0px" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input ng-model='tareLine.quantity' class="mdl-textfield__input" type="number" select-on-focus>
					</div>
				</td>
				<td>{{tareLine.debt}}</td>
				<td class="mdl-data-table__cell--non-numeric">{{tareLine.tare.description}}</td>

			</tr>

		</tbody>
	</table>-->
